<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213384840847-1t4gdklu6q1d65k54j5cr039sli9rk8l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213384840847-1t4gdklu6q1d65k54j5cr039sli9rk8l</string>
	<key>API_KEY</key>
	<string>AIzaSyBUELwdcqvJLfcExPF39tzC0XLIVmhYwv0</string>
	<key>GCM_SENDER_ID</key>
	<string>213384840847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>andrei.romanciuc.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-41e92</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-41e92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213384840847:ios:afead5e077ec46123412fa</string>
</dict>
</plist>